In [5]:
import pandas as pd

In [6]:
# Tải dữ liệu
bbc = pd.read_csv('bbc.csv')

# Xem trước dữ liệu
bbc.head()

                                                text     topic
0  Dallaglio his own man to the end\n\nControvers...     sport
1  Best person' for top legal job\n\nThe "best pe...  politics
2  Viewers to be able to shape TV\n\nImagine edit...      tech
3  Fox attacks Blair's Tory 'lies'\n\nTony Blair ...  politics
4  Microsoft debuts security tools\n\nMicrosoft i...      tech

In [7]:
# Kiểm tra chất lượng dữ liệu
print("Mất dữ liệu:", bbc.isnull().sum())
print("Dữ liệu bị trùng lặp:", bbc.duplicated().sum())
print("Giá trị duy nhất của cột 'topic':", bbc['topic'].unique())

Missing Values: text     0
topic    0
dtype: int64
Duplicate Values: 98
Unique values in 'topic' column: ['sport' 'politics' 'tech' 'business' 'entertainment']

In [10]:
# Có 98 dòng dữ liệu bị lặp lại
# Không có dữ liệu bị mất
# Có 5 giá trị duy nhất ở cột 'topic', không có giá trị nào bị viết sai hoặc không thống nhất
# Vậy chỉ cần loại bỏ các dữ liệu bị lặp lại
# Bắt đầu làm sạch dữ liệu
bbc_cleaned = bbc.drop_duplicates()
bbc_cleaned.describe()

                                                     text  topic
count                                                2127   2127
unique                                               2127      5
top     Oscar nominees gear up for lunch\n\nLeonardo D...  sport
freq                                                    1    505

In [11]:
# Lưu dữ liệu đã làm sạch
bbc_cleaned.to_csv('bbc_cleaned.csv')