In [11]:
import nltk
import pandas as pd
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS
nltk.download('punkt')
nltk.download('wordnet')

bbc = pd.read_csv('bbc.csv')
bbc.head()
print(bbc.shape)
print(bbc.info())
print(bbc.head())

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...

(2225, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    2225 non-null   object
 1   topic   2225 non-null   object
dtypes: object(2)
memory usage: 34.9+ KB
None
                                                text     topic
0  Dallaglio his own man to the end\n\nControvers...     sport
1  Best person' for top legal job\n\nThe "best pe...  politics
2  Viewers to be able to shape TV\n\nImagine edit...      tech
3  Fox attacks Blair's Tory 'lies'\n\nTony Blair ...  politics
4  Microsoft debuts security tools\n\nMicrosoft i...      tech

In [12]:
# Check for missing data and print the total number of missing values for each column
print("Missing data:", bbc.isnull().sum())

# Check for duplicate rows in the dataset and print the total number of duplicate rows
print("Duplicate data:", bbc.duplicated().sum())

# Display the unique values of the 'topic' column to examine the different categories
print("Unique values in the 'topic' column:", bbc['topic'].unique())

Missing data: text     0
topic    0
dtype: int64
Duplicate data: 98
Unique values in the 'topic' column: ['sport' 'politics' 'tech' 'business' 'entertainment']

- There are 98 duplicate rows in the dataset.
- There is no missing data.
- There are 5 unique values in the 'topic' column, and none of them are incorrect or inconsistent.
- Therefore, we only need to remove the duplicate rows.

In [13]:
# Display summary statistics of the cleaned dataset
bbc.describe()
print(bbc.head())

                                                text     topic
0  Dallaglio his own man to the end\n\nControvers...     sport
1  Best person' for top legal job\n\nThe "best pe...  politics
2  Viewers to be able to shape TV\n\nImagine edit...      tech
3  Fox attacks Blair's Tory 'lies'\n\nTony Blair ...  politics
4  Microsoft debuts security tools\n\nMicrosoft i...      tech

In [14]:
bbc["text"] = bbc["text"].str.lower()
print(bbc.head())

                                                text     topic
0  dallaglio his own man to the end\n\ncontrovers...     sport
1  best person' for top legal job\n\nthe "best pe...  politics
2  viewers to be able to shape tv\n\nimagine edit...      tech
3  fox attacks blair's tory 'lies'\n\ntony blair ...  politics
4  microsoft debuts security tools\n\nmicrosoft i...      tech

In [15]:
bbc.loc[:, "text"] = bbc["text"].str.replace("'s", "", regex=True)
bbc

                                                   text          topic
0     dallaglio his own man to the end\n\ncontrovers...          sport
1     best person' for top legal job\n\nthe "best pe...       politics
2     viewers to be able to shape tv\n\nimagine edit...           tech
3     fox attacks blair tory 'lies'\n\ntony blair li...       politics
4     microsoft debuts security tools\n\nmicrosoft i...           tech
...                                                 ...            ...
2220  michael film signals 'retirement'\n\nsinger ge...  entertainment
2221  ray charles studio becomes museum\n\na museum ...  entertainment
2222  chancellor rallies labour voters\n\ngordon bro...       politics
2223  oscar nominees gear up for lunch\n\nleonardo d...  entertainment
2224  california sets fines for spyware\n\nthe maker...           tech

[2225 rows x 2 columns]

In [16]:
# Loại bỏ các ký tự đặc biệt trong cột 'text'
bbc["text"] = bbc["text"].str.replace(r"[;!?,.:()\"']", "", regex=True)
bbc

                                                   text          topic
0     dallaglio his own man to the end\n\ncontrovers...          sport
1     best person for top legal job\n\nthe best pers...       politics
2     viewers to be able to shape tv\n\nimagine edit...           tech
3     fox attacks blair tory lies\n\ntony blair lied...       politics
4     microsoft debuts security tools\n\nmicrosoft i...           tech
...                                                 ...            ...
2220  michael film signals retirement\n\nsinger geor...  entertainment
2221  ray charles studio becomes museum\n\na museum ...  entertainment
2222  chancellor rallies labour voters\n\ngordon bro...       politics
2223  oscar nominees gear up for lunch\n\nleonardo d...  entertainment
2224  california sets fines for spyware\n\nthe maker...           tech

[2225 rows x 2 columns]

In [17]:
# Create set of stop words from sklearn
stop_words = set(ENGLISH_STOP_WORDS)

# This function is use for removing stop words in text 
def remove_stopwords(text):
    words = text.split()
    filtered_words = [word for word in words if word.lower() not in stop_words]
    return ' '.join(filtered_words)

bbc.loc[:, 'text'] = bbc['text'].apply(remove_stopwords)

bbc.head()

                                                text     topic
0  dallaglio man end controversy lawrence dallagl...     sport
1  best person legal job best person job appointe...  politics
2  viewers able shape tv imagine editing titanic ...      tech
3  fox attacks blair tory lies tony blair lied to...  politics
4  microsoft debuts security tools microsoft rele...      tech

In [18]:
import re

# Hàm để loại bỏ các từ viết tắt như "&", "/",":"
def remove_abbreviations_and_slash(text):
    abbreviations = r'\b(&|/)\b'
    cleaned_text = re.sub(abbreviations, '', text)
    # Loại bỏ khoảng trắng thừa sau khi xóa
    cleaned_text = re.sub(r'\s+', ' ', cleaned_text).strip()
    return cleaned_text

# Áp dụng hàm cho cột 'text' trong DataFrame
bbc.loc[:,'text'] = bbc['text'].apply(remove_abbreviations_and_slash)
bbc

                                                   text          topic
0     dallaglio man end controversy lawrence dallagl...          sport
1     best person legal job best person job appointe...       politics
2     viewers able shape tv imagine editing titanic ...           tech
3     fox attacks blair tory lies tony blair lied to...       politics
4     microsoft debuts security tools microsoft rele...           tech
...                                                 ...            ...
2220  michael film signals retirement singer george ...  entertainment
2221  ray charles studio museum museum dedicated car...  entertainment
2222  chancellor rallies labour voters gordon brown ...       politics
2223  oscar nominees gear lunch leonardo dicaprio ja...  entertainment
2224  california sets fines spyware makers computer ...           tech

[2225 rows x 2 columns]

In [19]:
from nltk.stem import WordNetLemmatizer

# Tạo lemmatizer
lemmatizer = WordNetLemmatizer()
bbc["text"] = bbc["text"].apply(lambda x: ' '.join([lemmatizer.lemmatize(word, 'v') for word in x.split()]))
bbc

                                                   text          topic
0     dallaglio man end controversy lawrence dallagl...          sport
1     best person legal job best person job appoint ...       politics
2     viewers able shape tv imagine edit titanic wat...           tech
3     fox attack blair tory lie tony blair lie take ...       politics
4     microsoft debut security tool microsoft releas...           tech
...                                                 ...            ...
2220  michael film signal retirement singer george m...  entertainment
2221  ray charles studio museum museum dedicate care...  entertainment
2222  chancellor rally labour voters gordon brown is...       politics
2223  oscar nominees gear lunch leonardo dicaprio ja...  entertainment
2224  california set fin spyware makers computer pro...           tech

[2225 rows x 2 columns]

In [20]:

if 'text' in bbc.columns:
    # Hàm để loại bỏ số và đơn vị tiền tệ
    def remove_currency_and_numbers_with_logging(text):
        removed_items = re.findall(r'\b\d+\b|\$\w*|%\w*|₫\w*|â£\w*|£\w*|â\w*', text)
        cleaned_text = re.sub(r'\b\d+\b|\$\w*|%\w*|₫\w*|â£\w*|£\w*|â\w*', '', text)
        cleaned_text = re.sub(r'\s+', ' ', cleaned_text).strip()
        return cleaned_text, removed_items
    
    # Áp dụng hàm cho cột 'text' và lưu lại các mục bị loại bỏ
    removed_data = []
    def process_text(row):
        cleaned_text, removed_items = remove_currency_and_numbers_with_logging(row)
        removed_data.extend(removed_items)
        return cleaned_text

    # Sử dụng .loc để thay đổi giá trị trong DataFrame
    bbc.loc[:, 'text'] = bbc['text'].apply(process_text)

    # Lưu danh sách các mục bị loại bỏ vào một biến
    removed_data = list(set(removed_data)) 

    # Xuất danh sách các mục bị loại bỏ
    print(f"Số lượng từ bị xóa: {len(removed_data)}")
    print("Các mục bị loại bỏ:", removed_data)

Số lượng từ bị xóa: 2287

In [21]:

from collections import Counter

# Kiểm tra sự tồn tại của cột 'text'
if 'text' in bbc.columns:
    # Đếm tần suất của các từ
    all_words = ' '.join(bbc['text']).split()
    word_counts = Counter(all_words)

    # Lọc ra các từ xuất hiện từ 5 lần trở lên
    common_words = {word for word, count in word_counts.items() if count >= 5}
    
    # In số lượng từ phổ biến
    print(f"Số lượng từ phổ biến: {len(common_words)}")

    # Danh sách từ bị xóa (từ hiếm gặp)
    removed_words = {word for word in word_counts.keys() if word not in common_words}
    
    # In danh sách các từ hiếm gặp
    print(f"Số lượng từ bị xóa: {len(removed_words)}")

    bbc.loc[:, 'text'] = bbc['text'].apply(lambda x: ' '.join([word for word in x.split() if word in common_words]))

Số lượng từ phổ biến: 8790
Số lượng từ bị xóa: 17375

In [22]:

# Kiểm tra sự tồn tại của cột 'text'
if 'text' in bbc.columns:
    # Hàm để loại bỏ dấu gạch ngang '-' không liên kết với từ
    def clean_text(text):
        # Loại bỏ dấu gạch ngang không có từ đi kèm
        cleaned_text = re.sub(r'(?<=\s)-(?=\s)', '', text)
        cleaned_text = re.sub(r'\s+', ' ', cleaned_text).strip()
        return cleaned_text
    
    # Áp dụng hàm cho cột 'text'
    bbc.loc[:, 'text'] = bbc['text'].apply(clean_text)
bbc

                                                   text          topic
0     dallaglio man end controversy lawrence dallagl...          sport
1     best person legal job best person job appoint ...       politics
2     viewers able shape tv imagine edit titanic wat...           tech
3     fox attack blair tory lie tony blair lie take ...       politics
4     microsoft debut security tool microsoft releas...           tech
...                                                 ...            ...
2220  michael film signal retirement singer george m...  entertainment
2221  ray charles studio museum museum dedicate care...  entertainment
2222  chancellor rally labour voters gordon brown is...       politics
2223  oscar nominees gear leonardo dicaprio jamie fo...  entertainment
2224  california set fin spyware makers computer pro...           tech

[2225 rows x 2 columns]

In [23]:
# Find duplicate rows
duplicate_rows = bbc[bbc.duplicated(subset=['text'], keep=False)]

# Print duplicate datas
grouped_duplicates = duplicate_rows.sort_values(by=['text']).groupby('text')
for idx, (group, rows) in enumerate(grouped_duplicates):
    if idx >= 5:
        break
    print(f"Duplicate group: {group}")
    print(rows)

# Check total duplicated rows 
print("Duplicate data:", bbc.duplicated().sum())

# Start cleaning the data by removing duplicate rows
bbc = bbc.drop_duplicates()

# print(bbc)

Duplicate group: 2d metal slug offer retro fun like drill sergeant past metal slug today gamers slick visuals fancy 2d consider retro release years ago frantic shooter end year yes include halo simply choose 2d level video game blast encounter toughest game likely play enemies live pile pressure players battle soldier zombies giant alien mention huge boss guard level gameplay pepper moments genius fan robotic note title refer instead vast array vehicles offer game stuff bizarre hardware tank jet offer iraq justice joy thank ultra control tough crack addictive mere metal slug cheap slice fry man say course ignore lack do visual modern time blockbuster title offer fresh paint favour real innovation metal slug fresh air era xbox gate eye
                                                   text topic
1325  2d metal slug offer retro fun like drill serge...  tech
1314  2d metal slug offer retro fun like drill serge...  tech
Duplicate group: apple attack source row civil liberties group electronic frontier foundation eff join legal fight online journalists apple apple want reporters reveal source use stories leak information forthcoming products include mac mini eff represent reporters ask california superior court stop apple pursue source argue journalists protect american constitution eff say case threaten basic freedoms press apple particularly keen source information unreleased product ask journalists e-mail providers hand communications relevant confront issue reporter privilege apple go journalist isps e-mail say eff lawyer kurt undermine fundamental amendment right protect reporters court let apple away expose gain reporters potential confidential source deter provide information media public lose vital independent news analysis commentary say case begin december apple ask local californian court journalists reveal source article publish websites apple send request information internet service provider publisher jason look far corporations prevent information publish case examine online journalists privilege protections write newspapers magazines eff gain powerful ally legal battle apple include professor tom dean journalism school university california dan well-known silicon valley journalist apple immediately available comment
                                                   text topic
1380  apple attack source row civil liberties group ...  tech
1200  apple attack source row civil liberties group ...  tech
Duplicate group: apple ipod family expand market apple expand ipod family release generation digital music players latest challenge grow digital music gadget market include ipod mini model hold compare previous company hop dominant place digital music market say gold colour version mini drop version add ipod photo family latest model longer battery life price cut average original ipod take early lead digital music player market thank large storage capacity simple design million portable players sell million apple ipods analysts agree success integration itunes online store give company share legal download music market mike mcguire research director analyst gartner tell bbc news website apple good job seal market competition far create seamless package think idea product design function software impressive say add threat present creative devices real sony ratchet market message advertise say creative upbeat creative zen players ship end year say model like creative zen micro photo summer 5gb memory board digital music players gadget choice young americans accord recent research pew internet american life project adults million people own digital music player sort sales legally download songs rise tenfold accord record industry million track buy online europe months ifpi industry body say popularity portable music players growth analysts say ease use growth music service available net continue drive trend portable music players people start use novel ways combine automatic function net function automatically distribute diy radio show call podcast competition mobile phone operators keen offer stream service powerful sophisticate handsets accord mr mcguire research suggest people like idea build huge libraries music high-capacity storage devices like ipods creative mobiles capacity issue ease portability mobile music mr mcguire say apple ensure keep foot mobile music door recent deal motorola produce version itunes motorola phone
                                                   text topic
210   apple ipod family expand market apple expand i...  tech
1712  apple ipod family expand market apple expand i...  tech
Duplicate group: apple unveil low-cost mac mini apple unveil new low-cost macintosh computer mass bill mac mini chief executive steve job show new machine annual macworld speech san francisco macintosh sell uk describe job important mac apple mr job unveil ipod shuffle new music player use cheaper flash memory hard drive use expensive ipods new computer shift company new territory traditionally firm know design firm mass-market manufacturer mac mini come monitor keyboard mouse second version larger hard drive sell machine available january describe job bring display keyboard mouse attempt win windows pc customers mr job say appeal people think change operate systems people think switch excuse say newest affordable mac new computer subject speculation weeks people surprise announcement analysts say sensible january apple sue website publish say specifications new computer ian harris deputy editor uk magazine mac format say machine appeal consumers purchase ipod want taste mac like see ipod harris add everybody think apple happy remain niche maker luxury computers move market dominate low margin manufacturers like dell bold show apple keen capitalise mass market success ipod mac mini appeal pc users look attractive fuss computer new ipod shuffle come versions offer storage uk second gigabyte storage go sale tuesday music player display play songs shuffle smaller ipod hold songs say mr job mr job tell delegate macworld ipod market share digital music players
                                                  text topic
675  apple unveil low-cost mac mini apple unveil ne...  tech
396  apple unveil low-cost mac mini apple unveil ne...  tech
Duplicate group: ask jeeves join web log market ask jeeves buy bloglines website improve way handle content web journals blog bloglines site hugely popular give users place read search share blog interest ask jeeves say plan change bloglines use million article archive round index web ask jeeves pay bloglines reveal bloglines popular let users build list blog want follow have visit journal site individually make use technology know really simple syndication rss blog adopt let sit know new entries journals acquisition follow similar move search sit google acquire labs makers blogger software msn introduce blog yahoo tweak technology better job handle blog entries jim lanzone vice president search properties ask jeeves say do acquire bloglines just blog publish world say ask jeeves interest help people information look help write universe readers vastly larger universe writers say mr lanzone say acquisition sit ask jeeves service let people customise web experience build personal collection useful link search engines discover information time rss ideal way track monitor sit say help drive information entries blog portals ask jeeves operate instant sweep change bloglines say mr lanzone intent time figure right business model try right away say mr lanzone add ask jeeves help organise database 300m blog entries bloglines hold net index technology able search blogosphere corpus information useful right say mr lanzone rumour acquisition break weblog say get hint ask jeeves
                                                   text topic
1415  ask jeeves join web log market ask jeeves buy ...  tech
1639  ask jeeves join web log market ask jeeves buy ...  tech
Duplicate data: 107

In [28]:
# Tách text thành các từ riêng biệt
bbc.loc[:,'cleaned_text'] = bbc['text'].apply(nltk.wordpunct_tokenize)
bbc

,text,topic,cleaned_text
0,dallaglio man end controversy lawrence dallagl...,sport,"[dallaglio, man, end, controversy, lawrence, d..."
1,best person legal job best person job appoint ...,politics,"[best, person, legal, job, best, person, job, ..."
2,viewers able shape tv imagine edit titanic wat...,tech,"[viewers, able, shape, tv, imagine, edit, tita..."
3,fox attack blair tory lie tony blair lie take ...,politics,"[fox, attack, blair, tory, lie, tony, blair, l..."
4,microsoft debut security tool microsoft releas...,tech,"[microsoft, debut, security, tool, microsoft, ..."
...,...,...,...
2219,rapper cent end protege feud rapper cent end p...,entertainment,"[rapper, cent, end, protege, feud, rapper, cen..."
2220,michael film signal retirement singer george m...,entertainment,"[michael, film, signal, retirement, singer, ge..."
2221,ray charles studio museum museum dedicate care...,entertainment,"[ray, charles, studio, museum, museum, dedicat..."
2222,chancellor rally labour voters gordon brown is...,politics,"[chancellor, rally, labour, voters, gordon, br..."
2223,oscar nominees gear leonardo dicaprio jamie fo...,entertainment,"[oscar, nominees, gear, leonardo, dicaprio, ja..."

In [27]:
# Save the cleaned dataset to a new CSV file
bbc.to_csv('bbc_cleaned.csv', index=False)