In [43]:
import pandas as pd
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS

bbc = pd.read_csv('bbc.csv')
bbc.head()
print(bbc.shape)
print(bbc.info())
print(bbc.head())

(2225, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    2225 non-null   object
 1   topic   2225 non-null   object
dtypes: object(2)
memory usage: 34.9+ KB
None
                                                text     topic
0  Dallaglio his own man to the end\r\n\r\nContro...     sport
1  Best person' for top legal job\r\n\r\nThe "bes...  politics
2  Viewers to be able to shape TV\r\n\r\nImagine ...      tech
3  Fox attacks Blair's Tory 'lies'\r\n\r\nTony Bl...  politics
4  Microsoft debuts security tools\r\n\r\nMicroso...      tech

In [44]:
# Check for missing data and print the total number of missing values for each column
print("Missing data:", bbc.isnull().sum())

# Check for duplicate rows in the dataset and print the total number of duplicate rows
print("Duplicate data:", bbc.duplicated().sum())

# Display the unique values of the 'topic' column to examine the different categories
print("Unique values in the 'topic' column:", bbc['topic'].unique())

Missing data: text     0
topic    0
dtype: int64
Duplicate data: 98
Unique values in the 'topic' column: ['sport' 'politics' 'tech' 'business' 'entertainment']

- There are 98 duplicate rows in the dataset.
- There is no missing data.
- There are 5 unique values in the 'topic' column, and none of them are incorrect or inconsistent.
- Therefore, we only need to remove the duplicate rows.

In [45]:
# Display summary statistics of the cleaned dataset
bbc.describe()
print(bbc.head())

                                                text     topic
0  Dallaglio his own man to the end\r\n\r\nContro...     sport
1  Best person' for top legal job\r\n\r\nThe "bes...  politics
2  Viewers to be able to shape TV\r\n\r\nImagine ...      tech
3  Fox attacks Blair's Tory 'lies'\r\n\r\nTony Bl...  politics
4  Microsoft debuts security tools\r\n\r\nMicroso...      tech

Converts all the text in the 'text' column of the bbc DataFrame to lowercase.

In [46]:
bbc["text"] = bbc["text"].str.lower()
print(bbc.head())

                                                text     topic
0  dallaglio his own man to the end\r\n\r\ncontro...     sport
1  best person' for top legal job\r\n\r\nthe "bes...  politics
2  viewers to be able to shape tv\r\n\r\nimagine ...      tech
3  fox attacks blair's tory 'lies'\r\n\r\ntony bl...  politics
4  microsoft debuts security tools\r\n\r\nmicroso...      tech


Remove the possessive suffix "'s" from the words in the 'text' column of the bbc DataFrame

In [47]:
bbc.loc[:, "text"] = bbc["text"].str.replace("'s", "", regex=True)
bbc

                                                   text          topic
0     dallaglio his own man to the end\r\n\r\ncontro...          sport
1     best person' for top legal job\r\n\r\nthe "bes...       politics
2     viewers to be able to shape tv\r\n\r\nimagine ...           tech
3     fox attacks blair tory 'lies'\r\n\r\ntony blai...       politics
4     microsoft debuts security tools\r\n\r\nmicroso...           tech
...                                                 ...            ...
2220  michael film signals 'retirement'\r\n\r\nsinge...  entertainment
2221  ray charles studio becomes museum\r\n\r\na mus...  entertainment
2222  chancellor rallies labour voters\r\n\r\ngordon...       politics
2223  oscar nominees gear up for lunch\r\n\r\nleonar...  entertainment
2224  california sets fines for spyware\r\n\r\nthe m...           tech

[2225 rows x 2 columns]

Remove special characters from the 'text' column in the bbc DataFrame

In [48]:
bbc["text"] = bbc["text"].str.replace(r"[;!?,.:()\"']", "", regex=True)
bbc

                                                   text          topic
0     dallaglio his own man to the end\r\n\r\ncontro...          sport
1     best person for top legal job\r\n\r\nthe best ...       politics
2     viewers to be able to shape tv\r\n\r\nimagine ...           tech
3     fox attacks blair tory lies\r\n\r\ntony blair ...       politics
4     microsoft debuts security tools\r\n\r\nmicroso...           tech
...                                                 ...            ...
2220  michael film signals retirement\r\n\r\nsinger ...  entertainment
2221  ray charles studio becomes museum\r\n\r\na mus...  entertainment
2222  chancellor rallies labour voters\r\n\r\ngordon...       politics
2223  oscar nominees gear up for lunch\r\n\r\nleonar...  entertainment
2224  california sets fines for spyware\r\n\r\nthe m...           tech

[2225 rows x 2 columns]

Remove stop words from the 'text' column in the bbc DataFrame.

In [49]:
# Create set of stop words from sklearn
stop_words = set(ENGLISH_STOP_WORDS)

# This function is use for removing stop words in text 
def remove_stopwords(text):
    words = text.split()
    filtered_words = [word for word in words if word.lower() not in stop_words]
    return ' '.join(filtered_words)

bbc.loc[:, 'text'] = bbc['text'].apply(remove_stopwords)

bbc.head()

                                                text     topic
0  dallaglio man end controversy lawrence dallagl...     sport
1  best person legal job best person job appointe...  politics
2  viewers able shape tv imagine editing titanic ...      tech
3  fox attacks blair tory lies tony blair lied to...  politics
4  microsoft debuts security tools microsoft rele...      tech

Remove specific abbreviations like '&' and '/' from the 'text' column and ordinal number suffixes

In [50]:
import re

def remove_abbreviations_and_slash(text):
    abbreviations = r'\b(&|/|\b\d+(st|nd|rd|th|s|m|p)\b)\b'
    cleaned_text = re.sub(abbreviations, '', text)
    # Remove extra spaces after clean
    cleaned_text = re.sub(r'\s+', ' ', cleaned_text).strip()
    return cleaned_text

# Apply the function to the 'text' column in the DataFrame
bbc.loc[:,'text'] = bbc['text'].apply(remove_abbreviations_and_slash)
bbc

                                                   text          topic
0     dallaglio man end controversy lawrence dallagl...          sport
1     best person legal job best person job appointe...       politics
2     viewers able shape tv imagine editing titanic ...           tech
3     fox attacks blair tory lies tony blair lied to...       politics
4     microsoft debuts security tools microsoft rele...           tech
...                                                 ...            ...
2220  michael film signals retirement singer george ...  entertainment
2221  ray charles studio museum museum dedicated car...  entertainment
2222  chancellor rallies labour voters gordon brown ...       politics
2223  oscar nominees gear lunch leonardo dicaprio ja...  entertainment
2224  california sets fines spyware makers computer ...           tech

[2225 rows x 2 columns]

Convert words to their base or root form

In [51]:
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
bbc["text"] = bbc["text"].apply(lambda x: ' '.join([lemmatizer.lemmatize(word, 'v') for word in x.split()]))
bbc

                                                   text          topic
0     dallaglio man end controversy lawrence dallagl...          sport
1     best person legal job best person job appoint ...       politics
2     viewers able shape tv imagine edit titanic wat...           tech
3     fox attack blair tory lie tony blair lie take ...       politics
4     microsoft debut security tool microsoft releas...           tech
...                                                 ...            ...
2220  michael film signal retirement singer george m...  entertainment
2221  ray charles studio museum museum dedicate care...  entertainment
2222  chancellor rally labour voters gordon brown is...       politics
2223  oscar nominees gear lunch leonardo dicaprio ja...  entertainment
2224  california set fin spyware makers computer pro...           tech

[2225 rows x 2 columns]


Remove currency symbols, numbers, and other specified patterns from the 'text' column of the bbc DataFrame.

In [52]:

if 'text' in bbc.columns:
    def remove_currency_and_numbers_with_logging(text):
        removed_items = re.findall(r'\b\d+\b|\$\w*|%\w*|â‚«\w*|Ã¢Â£\w*|Â£\w*|Ã¢\w*', text)
        cleaned_text = re.sub(r'\b\d+\b|\$\w*|%\w*|â‚«\w*|Ã¢Â£\w*|Â£\w*|Ã¢\w*', '', text)
        cleaned_text = re.sub(r'\s+', ' ', cleaned_text).strip()
        return cleaned_text, removed_items
    
    # Apply function to 'text' column and store the removed items
    removed_data = []
    def process_text(row):
        cleaned_text, removed_items = remove_currency_and_numbers_with_logging(row)
        removed_data.extend(removed_items)
        return cleaned_text

    # Use .loc to modify the values in the DataFrame
    bbc.loc[:, 'text'] = bbc['text'].apply(process_text)

    # Stored the list of removed items in variable
    removed_data = list(set(removed_data)) 

    print(f"Number of removed words: {len(removed_data)}")
    print("Removed words:", removed_data)

Number of removed words: 1768
Removed words: ['Ã¢Â£10849', '$105bn', '$52bn', '130000', '420000', '$412bn', '38', '$12944', '041', '6932', '3367', '128000', '14000', '1723', '79', '$23bn', '225', '2002', 'Ã¢Â£113bn', 'Ã¢Â£469', '$1704', '2054', 'Ã¢Â£522000', '1440', '2501', '86', 'Ã¢Â£12bn', '143929', '$29bn', '$35bn', 'Ã¢Â£165bn', '206900', '22579', '$1552bn', '$336bn', 'Ã¢Â£55000', 'Ã¢Â£167bn', '257', 'Ã¢Â£3620', '1960', '1174060', '$68bn', '796', '973', '$4451bn', '381769', '3220', '$550000', '78', '220', '1692', 'Ã¢Â£25', '0845', '109', '$7000', '217', '575', '2700', 'Ã¢Â£99', 'Ã¢Â£1200', 'Ã¢Â£168', '5500', '$1048', '12800', '90573', 'Ã¢Â£34', '2003', 'Ã¢Â£600', '0100', '120', '6630', '2004', '994', '222', '191', '1375', '27', '3500', '793000', '$467', 'Ã¢Â£65000', '250000', '0710', '$103bn', 'Ã¢Â£17320', '55000', 'Ã¢Â£2500', '10416', '40052308090', '1891', '$200bn', '022', '51075', '$2724', '500000', '1911', '6100', '34', '06', '$1708bn', '1942', 'Ã¢Â£35', '$311bn', '$4000', '2600', '$74500', '449', '1200', '677', '172', '$33bn', '1947', '957', '027', '1044', '$144bn', 'Ã¢Â£340000', 'Ã¢Â£170', '233', '$800bn', '1546', '$13218', '357', '3400', '115', '$937bn', '379', '$10305', '$422bn', '28', '$48', '92', '1993', '12600', 'Ã¢Â£72bn', 'Ã¢Â£51bn', '166', '$94', '1830', 'Ã¢Â£71bn', '1955', 'Ã¢Â£58bn', '$4212', 'Ã¢Â£157bn', '200203', '1500', '1915', '$38', '$54bn', '34978', '987', 'Ã¢Â£267000', 'Ã¢Â£52000', '787', '207', '800000', '780', '1515', '7000', '35', '024', '305775', '200607', '106000', 'Ã¢Â£277bn', 'Ã¢Â£11500', '1965', '$4230', '656', '$33', '1910', '185', '85', '$125', 'Ã¢Â£118', '128', '$406', '0400', '$500bn', '$148', '36000', 'Ã¢Â£149bn', '947', '163000', 'Ã¢Â£7000', '596', '1444', '20012', '18', '$9bn', '$5115', '$135', '267', 'Ã¢Â£26bn', 'Ã¢Â£5', '1997', '12500', '$26500', '3539', '2008', '3141', 'Ã¢Â£21000', 'Ã¢Â£10bn', 'Ã¢Â£317bn', '417', '$277', '73989', '$187bn', '$177600', 'Ã¢Â£', 'Ã¢Â£4895', '$63bn', '554', '19800', '58', '89', '1770', '159', 'Ã¢Â£39bn', '750000', 'Ã¢Â£17730', '$160bn', '440700', '7613', '1125', '1466', 'Ã¢Â£227bn331bn', '$447bn', '45', '$2863', '74142', '08', '2009', 'Ã¢Â£40000', 'Ã¢Â£69', '$13509', '$100', '$186bn', '469', '136069', '$336', '$25000', '$234000', '30', '464000', 'Ã¢Â£91bn', '224', '0700', '05', '$27bn', '4646', '74678', '104', 'Ã¢Â£53bn', '988', '1978', '305', '$799', '030', '76', '$14bn', '1629', '301', '400', 'Ã¢Â£254bn', 'Ã¢Â£517bn', '$085', '$184bn', '10255', '2094', '25', '2500', '$850bn', '137', '227000', '961', '37', '$4710', 'Ã¢Â£293000', 'Ã¢Â£25bn', '1330', '7610', '$488bn', '3997', 'Ã¢Â£37bn', '1975', '420', '1983', '$32bn', 'Ã¢Â£178906', 'Ã¢Â£85', '0530', 'Ã¢Â£132', '13', '1660', '$189', '200506', 'Ã¢Â£560', '286', '53000', '160', '$563', '$808', '268', '1606', '785', '$58bn', '1600', '227', '8661', '140', '36185', 'Ã¢Â£50000', 'Ã¢Â£63', '900000', '717', 'Ã¢Â£54', '59', '1961', '3056', '10517', '$40000', '5300', 'Ã¢Â£3226', '62000', '297', 'Ã¢Â£2000', '206', 'Ã¢Â£23bn', '22', 'Ã¢Â£535', '90000', '340', '2368', '84', '$2000', '$332', '003', '806', '211', 'Ã¢Â£139544', '$100bn', '$13666', 'Ã¢Â£775', 'Ã¢Â£525000', '2014', '1904', '89000', '$1834bn', 'Ã¢Â£3650', 'Ã¢Â£161840', '14738', '708', '07', 'Ã¢Â£6000', '$327bn', '34586', 'Ã¢Â£105', '$17255', '965000', '27000', '97', 'Ã¢Â£64bn', '11000', '$512bn', '1976', 'Ã¢Â£106bn', '1900', 'Ã¢Â£27bn', '$141bn', '$258', 'Ã¢Â£14', '999', '1959', '$325bn', '$720', '4500', '0630', '3601', 'Ã¢Â£40', '73', 'Ã¢Â£882bn', '66000', '922', '$19bn', '$28bn', '$164', 'Ã¢Â£484bn', '74', '635173', '4797', '$348bn', '88', '$218', 'Ã¢Â£135bn', '21718', '$62bn', '537', '$150', 'Ã¢Â£3bn', '131', 'Ã¢Â£519bn', '157000', 'Ã¢Â£80000', '12667', '106', 'Ã¢Â£330000', '28000', '$30', '190000', '$476', '$14850', '$106', '42093', '160000', '56000', '1991', '$13636', 'Ã¢Â£630', 'Ã¢Â£44bn', '175', '240', '1115', '$31bn', '$66bn', '$107bn', '$35', 'Ã¢Â£750000', '$284bn', '423', 'Ã¢Â£16000', '$31', '5200', '376', '$96bn', '436', 'Ã¢Â£120000', 'Ã¢Â£928bn', '0', '205', 'Ã¢Â£85bn', '1925', '1921', '56', '156', '74053', '607', '125', '0730', '401', '$12974', '1985', '427', '600000', '120000', '1148876', 'Ã¢Â£44914', '6500', '281', '71000', 'Ã¢Â£48bn', '$25', '$2300', '$188', '328', '95', '370', '$162', '11', '870', '23600', '$15', 'Ã¢Â£293264', '258', '180000', '$1399bn', '190', '717000', '911', '125508', '311000', 'Ã¢Â£485', '235', '$111bn', '$75000', '67', '$115bn', '1670', '$46bn', '126', '339', '4025', '7', '$15000', '136', 'Ã¢Â£170bn', '777', '43305', '1474', 'Ã¢Â£187', '110000', '4000', '$13270', 'Ã¢Â£125', 'Ã¢Â£264', 'Ã¢Â£400', '615', 'Ã¢Â£59000', 'Ã¢Â£42bn', '$142bn', 'Ã¢Â£111314', '04', '$32500', 'Ã¢Â£55bn', '$4445', '$13', '360000', '51', 'Ã¢Â£799000', '535', '20673', '13187', '165', 'Ã¢Â£57bn', '$450', '1963', 'Ã¢Â£5bn', '555', '3420', 'Ã¢Â£53400', '$87bn', '$1756bn', '2400', 'Ã¢Â£2659bn', '2020', '$1000', '1727', '1986', 'Ã¢Â£375bn', '$47', '9796', '161', '1988', '$24', '3230', '280000', '$50bn', 'Ã¢Â£560000', '687', 'Ã¢Â£2116bn', '1946', '$458', '22953', '$1000bn', '6962', '105', '276', '399', 'Ã¢Â£63081', '144', '20645', '$18bn', '600', 'Ã¢Â£950000', '45000', '771', 'Ã¢Â£53', '$4132', '324', '$818bn', '500', '90500', '76200', 'Ã¢Â£5001and', 'Ã¢Â£188bn', '$500', '$6bn', 'Ã¢Â£111', '$30bn', '3305', '5557', '199', '94', '851', '13000', 'Ã¢Â£6bn', 'Ã¢Â£68', '124', '0619', '1400', '$200000', '$197bn', '$102bn', '1237', 'Ã¢Â£104bn', 'Ã¢Â£22bn', '1957', '$132', 'Ã¢Â£8170', 'Ã¢Â£35bn', '5907', '4300', '2238', '103', '625', '35000', '0800', '275', '19924', '$3122', '505', '169000', '$10', '$855bn', '1689', '833', 'Ã¢Â£31bn', '135', '155465', 'Ã¢Â£306814', '244', '145', '149', '296000', 'Ã¢Â£14bn', '1155', '1038548', 'Ã¢Â£38bn', '310', '1405', '150000', '110', '$60bn', 'Ã¢Â£3999', '$4193bn', '090', '700', '5800', '$41350', '102', '$13652', '$196bn', '130', '889', 'Ã¢Â£145bn', '$4015', '176', '1935', '$3', '$915000', '179', 'Ã¢Â£32bn', '$717', '$5143', 'Ã¢Â£870', '200405', 'Ã¢Â£138', '1928', '2900', '0469', '$3920', '198000', '70', '$20bn', '9300', '$675bn', '$24000', '3293', '564', '2011', '2200', '1132', 'Ã¢Â£155bn', '$140', 'Ã¢Â£263000', 'Ã¢Â£38', 'Ã¢Â£10545', '19', 'Ã¢Â£286bn', '102975', '1088', '$595', '$5309', '$625', '514', '1992', '$17bn', 'Ã¢Â£100000', 'Ã¢Â£189733', 'Ã¢Â£180226', '1300', '$248bn', '1030', '247', 'Ã¢Â£199bn', 'Ã¢Â£048', '4987', 'Ã¢Â£115000', '48', '1834', '$94bn', 'Ã¢Â£828bn', 'Ã¢Â£10000', '$638bn', 'Ã¢Â£135', '8', '147', 'Ã¢Â£26', '1427', 'Ã¢Â£39000', 'Ã¢Â£4bn', '1980', '$3865', '$23000', '2745', '3300', '$956bn', '4200', 'Ã¢Â£187bn', '570', '$600000', '$4864', '0870', 'Ã¢Â£229', '94000', '117', 'Ã¢Â£611000', '25000', '$286', '82', '$50', '$100000', '192', '162', '1801', '138', 'Ã¢Â£13700', '1958', '3322', 'Ã¢Â£180444', '$74bn', 'Ã¢Â£11bn', '1934', '2050', '9033', '509', '$599', '47000', '$85', '940000', 'Ã¢Â£179bn', '1022', 'Ã¢Â£52590', 'Ã¢Â£391bn', 'Ã¢Â£61bn', '550', '527', 'Ã¢Â£70', '1100', '389', 'Ã¢Â£312bn', 'Ã¢Â£21', 'Ã¢Â£19bn', '32000', '1966', '5808', 'Ã¢Â£180', '533', '677000', 'Ã¢Â£266582', '3217', '113', '2007', '5216', '47111', '542000', 'Ã¢Â£220', '55', '186', 'Ã¢Â£15000', 'Ã¢Â£399', '81000', 'Ã¢Â£335bn', '801', 'Ã¢Â£11724929', '40', '942', '1941', '1893', '14160', '$280bn', '4796', '15', 'Ã¢Â£11', '520000', 'Ã¢Â£125bn', '1056', '12011', '$580', '1972', '2940', '5196', '1962', '72000', '2005', '5037', '168', '101', '2006', 'Â£', '747', 'Ã¢Â£6', 'Ã¢Â£180126', '31000', '5', 'Ã¢Â£45001', '489', '$132bn', '0200', '1974', '4341', '$399', '830', '1650', 'Ã¢Â£33', '1695', '511', '100000', 'Ã¢Â£96bn', 'Ã¢Â£108bn', '200', '1218', '271', 'Ã¢Â£130000', '90', '118', 'Ã¢Â£129', '22000', '1725', 'Ã¢Â£162086', '$185bn', '$635', '80', '1025', '1981', '4875', '85000', '400000', 'Ã¢Â£105bn', '1215', 'Ã¢Â£5390', '$11000', '666', '20170', '$4974', '$10bn', '$291', '$22bn', '277', 'Ã¢Â£480000', '39', '200001', 'Ã¢Â£205000', '1922', 'Ã¢Â£7960', '2048', 'Ã¢Â£133', '1943', '$3494bn', '15000', '2101', '289', 'Ã¢Â£1588bn', '$13bn', '440000', '1700', '1912', '$220bn', '816', '$190', 'Ã¢Â£999', '300', 'Ã¢Â£19', '287', '242', 'Ã¢Â£27000', '$42bn', '1979', '107', 'Ã¢Â£182920', 'Ã¢Â£22', '$18', '32', '1324', '$190bn', '885000', '$11bn', '$5', '114', '10453', '$64bn', '6', 'Ã¢Â£94', '831', '645000', '193', '$53', '$40', '$106mÃ¢', '142', '1984', '31', '$80bn', '1888', '$21bn', 'Ã¢Â£77800', '1956', '$48bn', 'Ã¢Â£2060', '$254bn', '83000', 'Ã¢Â£3000', '03', 'Ã¢Â£71433', '10000', '20034', '$170', 'Ã¢Â£16bn', '196', '28041', '4668', '$1354', '$232bn', '$368bn', 'Ã¢Â£1400', 'Ã¢Â£298bn', '$156bn', '$93bn', '1906', 'Ã¢Â£215bn', 'Ã¢Â£535000', '1337', '2530', '$6717bn', '182', 'Ã¢Â£500000', 'Ã¢Â£600000', 'Ã¢Â£12000', '$130', '84143', '20002001', '1964', 'Ã¢Â£425000', '64280', '$41bn', 'Ã¢Â£158bn', 'Ã¢Â£60', '14', 'Ã¢Â£889bn', '856600', '311764', '42', '740', '10276', '1642', 'Ã¢Â£4250', 'Ã¢Â£450', '1441', '530', '$1205bn', '146000', '$377bn', '226', '6798000', 'Ã¢Â£76bn', '38153', '$099', '$45bn', '155000', '$1233', '622', '$544', 'Ã¢Â£324bn', '1967', '5686', '46', 'Ã¢Â£192713', '53', '$2015', 'Ã¢Â£1140', 'Ã¢Â£143000', '007', '9276', '$115', 'Ã¢Â£25000', '581', 'Ã¢Â£134bn', '612', '$235bn', '104000', '713', '662', 'Ã¢Â£75', '91', '$', '$250000', 'Ã¢Â£2450', '$1807bn', '1497', '782', '$1890', '3028', '2881', '507', '$283bn', 'Ã¢Â£363bn', '$150000', '$40bn', '1908', 'Ã¢Â£50', 'Ã¢Â£21bn', 'Ã¢Â£390', '50', 'Ã¢Â£2', '1758', '44000', '$25bn', '1319', '518', '61', '$113bn', 'Ã¢Â£925', 'Ã¢Â£140bn', '050505', '067', 'Ã¢Â£81bn', 'Ã¢Â£788439', 'Ã¢Â£507', '$82', '189', '3026', '36', '4645', '002', 'Ã¢Â£680', '1728', '$631bn', 'Ã¢Â£499', '00051', '54', '123', '8954', '$5567', '1701', '783', '5125', 'Ã¢Â£250', 'Ã¢Â£12556', 'Ã¢Â£17bn', '251', 'Ã¢Â£60bn', '60000', 'Ã¢Â£200', '0900', '17', '487939', 'Ã¢Â£177', 'Ã¢Â£16', '028', 'Ã¢Â£268bn', '199899', 'Ã¢Â£15690', '3000', '$246bn', '798', '43856', '$104bn', 'Ã¢Â£116542', 'Ã¢Â£750', '2115', '828', '1050', 'Ã¢Â£820000', '2340', '2030', '29603', 'Ã¢Â£5351bn', '1313', '025', 'Ã¢Â£13', 'Ã¢Â£053', '148', '2046', '397', '10', 'Ã¢Â£15bn', '476', 'Ã¢Â£173', '$175bn', '497', '$230bn', 'Ã¢Â£320', '1977', 'Ã¢Â£30', '1230', '553', '$258bn', '$24bn', '$15bn', 'Ã¢Â£5000', '96000', '$8bn', '150', '915', '387500', '$824', '1973', '2367', '12900', '$365bn', '3', 'Ã¢Â£82bn', '000', '115000', '$60', 'Ã¢Â£1700', '$97bn', '10476', '2000', '20', '$613bn', '375', '$103500', '5050', '372', 'Ã¢Â£350', '365', '8200', '136000', 'Ã¢Â£50bn', '17815', '140000', 'Ã¢Â£300000', '$7bn', '661', '$206bn', '1250', '813200', '$425', '$5005bn', 'Ã¢Â£131961', '1675', '$499', '134', '1000', '492', '$152', '$327', 'Ã¢Â£13500', '454', '1987', '$86bn', 'Ã¢Â£518bn', '12', '$10000', '350', '5298', '$13006', '163', 'Ã¢Â£7455', '33', '750', 'Ã¢Â£230bn', '20210', '1774', '230', '1998', '$34bn', '2234', '578', 'Ã¢Â£690000', '01', '93', 'Ã¢Â£152', '737', 'Ã¢Â£325417', '1865', '1971', '4464', '$13280', 'Ã¢Â£1500', '$26bn', '$125000', '175000', '$1300', '$3000', '187', '1924', 'Ã¢Â£262825', '1033', '$1364', '$65', 'Ã¢Â£500', 'Ã¢Â£29', '$7500', '$427bn', 'Ã¢Â£46998', '813', '$5139', '6900', '37000', '1938', '$2bn', '3600', '$4438', '800', 'Ã¢Â£936bn', '25772', 'Ã¢Â£292000', 'Ã¢Â£23000', 'Ã¢Â£75000', '$20', 'Ã¢Â£538bn', '17000', '471', '$8', '1982', '228', '$1', '$193bn', '1084766', '173', '101115', '75000', '1000000000', '$110000', '$12bn', '464', '473', '0001', '34587', '1937', '69', '360', '$289bn', 'Ã¢Â£11000', '$16bn', 'Ã¢Â£486000', '386', 'Ã¢Â£57', '404', '3586', '322', '449603', '$180', '1870', '151', '178000', 'Ã¢Â£87bn', 'Ã¢Â£150000', '572900', '1008', 'Ã¢Â£800', 'Ã¢Â£520', '48000', '6600', '1954', '178', 'Ã¢Â£54bn', 'Ã¢Â£505', '10528', '1761', 'Ã¢Â£12700', '$19094', '66', '920000', '$275bn', '81', '272', '127', '$162bn', '4493', 'Ã¢Â£339', 'Ã¢Â£133000', '1487', '5700', '146', '817', '0130', 'Ã¢Â£62bn', '1731', '$322', 'Ã¢Â£195000', '203', '99', '$26', '$84bn', 'Ã¢Â£45bn', '0950', '171', '318', '623', '1989', '929', '26', '09', '1952', '3910', '$47bn', '64', '49', 'Ã¢Â£537bn', 'Ã¢Â£255bn', 'Ã¢Â£100', 'Ã¢Â£190329', 'Ã¢Â£98', '840', '167', '23500', '001', '243', '12000', 'Ã¢Â£10', '776', '153000', '5000', '273', '1940', '312000', '$85bn', 'Ã¢Â£85000', '670993', '164', '521', 'Ã¢Â£30000', '20445', 'Ã¢Â£275', '$4bn', '58000', '993', 'Ã¢Â£152bn', '20152', '%', '$109bn', '2022', '0227', '1968', '$098', '229', '80000', '$515', '1831', '576', '141', '27700', '727', '1995', '216', '16', '5785', 'Ã¢Â£340', '601', '1800', 'Ã¢Â£130', '1430', '0300', 'Ã¢Â£279bn', 'Ã¢Â£36bn', '153', '24', 'Ã¢Â£139', '112000', '121', '$459bn', '1796', '$44bn', 'Ã¢Â£20000', 'Ã¢Â£28bn', '23000', '$2040', '8000', '1149', '975', '$149', '270', '$178bn', '$5088', '$280', 'Ã¢Â£38660', '2013', '$120bn', '1815', '246570', '$76', 'Ã¢Â£700', '2755', '1130', '19989', '385', '20000', 'Ã¢Â£907000', '7500', '1746', '758', '056', '$1435', 'Ã¢Â£8', '34604', '98', '569072', '$4209bn', '1920', '1953', '$4325', '1', '1994', '63000', '760', '2158', '$4148', '185000', '29', '425', '337000', '560', '43134', '34882', '$600', '2572', '119', '1990', '$257', '735', '$126', '$1765', '1776', '0605', '14800', '80600', '200000', 'Ã¢Â£400000', '4525', '$746bn', '77000', '349', '290000', 'Ã¢Â£591000', '2850', '1944', '865', '24997', '$166bn', '30000', 'Ã¢Â£218bn', '659', '41911', '50000', '15087', '680', '2012', '3803', 'Ã¢Â£125000', '1948', 'Ã¢Â£4610849', '$12', '7710', '219', '$120', 'Ã¢Â£275000', '87', '189000', '63', '$38bn', '667', '33527', '$143bn', '666189', '02', '$4862', '2100', '$3bn', '$14', '900', '1857', 'Ã¢Â£171', 'Ã¢Â£23', 'Ã¢Â£250000', '5345', 'Ã¢Â£1', '151000', 'Ã¢Â£2669bn', '$13516', '133000', '250', '158', '23575', '108', 'Ã¢Â£26000', 'Ã¢Â£1560', '6650', '262', 'Ã¢Â£10499', '1917', '3807', '40000', '089', '$150bn', '639', '700000', '$5934bn', '456', 'Ã¢Â£425', 'Ã¢Â£1000', 'Ã¢Â£2bn', '133', '139000', '$234bn', '$18923', '920', 'Ã¢Â£1793', '1945', 'Ã¢Â£35000', '83', '592', '512', '$50000', '1687', '65', '2852', '$5700', 'Ã¢Â£94bn', '26000', '4591', 'Ã¢Â£410', '$417', '2025', '$176', '1905', '1080', '440', '87000', '1950', 'Ã¢Â£22000', '$128bn', 'Ã¢Â£8000', 'Ã¢Â£8bn', '538000', '2010', '7600', '1939', '52', '$45', '$658bn', '282000', '605', '$437bn', '18000', '199293', 'Ã¢Â£34bn', '475', '748', '41', '1903', 'Ã¢Â£163748', '72', '$124bn', '62', 'Ã¢Â£300', '7072', '2107', 'Ã¢Â£269bn', '77', '1751000', '4', '$500000', '384', '256', '$2115', '$1026bn', '109000', 'Ã¢Â£29000', '2018', '79000', '1999', '9', '180', '85130', '44', '$1bn', '$300bn', '81122', '125000', '299', '201', 'Ã¢Â£152879', '265', '95000', 'Â£1145bn', '6230', '$435bn', 'Ã¢Â£053bn', '112', 'Ã¢Â£4', '$18832', '$537bn', '$480000', '$250', '367000', 'Ã¢Â£1bn', '20032004', '260000', '75', '70000', '68', '$200', '12575', 'Ã¢Â£13bn', '27595', '$49bn', 'Ã¢Â£248bn', '$110', '7800', '132', '280', '$180bn', '1929', 'Ã¢Â£318', '188', 'Ã¢Â£10575', '100', '2300', 'Ã¢Â£211', '$1558bn', '325000', '2001', '2019', '50430', 'Ã¢Â£404000', 'Ã¢Â£24bn', '1812', '525', '1951', '157', 'Ã¢Â£6500', 'Ã¢Â£46bn', '13040', '$183', '1970', '5950', '47', '283000', '4483', 'Ã¢Â£1950', '81428', '10500', '71', '2172', '43', 'Ã¢Â£18bn', 'Ã¢Â£187971', '1871', 'Ã¢Â£197bn', '$58', 'Ã¢Â£5001', '$555bn', '483', 'Ã¢Â£289bn', '$60000', '137000', '78000', '$2', '$929', '$12573', '10360', 'Ã¢Â£29bn', 'Ã¢Â£20', '1930', '$37bn', '$129', '14832', '767', '985', '1070', '6000', '23', '$239850', '1875', 'Ã¢Â£30800', '$13667', '9000', '59000', 'Ã¢Â£3', '$63', '720', 'Ã¢Â£1040', '21', 'Ã¢Â£78', '1996', '111', 'Ã¢Â£4745', '674', '82000', '8500', '1927', '105000', 'Ã¢Â£28000', '$99', '14055', '10227', '1848', '$295bn', 'Ã¢Â£169bn', '2', '12300', 'Ã¢Â£140', '84000', '529', '$434bn', '$133', '10137', 'Ã¢Â£52', '586', '595', '1969', '1949', '$75bn', '2088', 'Ã¢Â£43bn', 'Ã¢Â£1050', '645', '96', '902', '3248', '$4', '$5303', '$12871', '$1044', '170', '325', '$30000', '$2146bnÃ¢', '$5bn', '$75', '38000', '$187', '590', '474000', '57', 'Ã¢Â£60000', '955', 'Ã¢Â£75bn', 'Ã¢Â£9000', '$119bn', 'Ã¢Â£564bn', '2015', '300000', 'Ã¢Â£10280', '184', '$17', '60', '$4965bn', '4751', '213', '354', '$72bn', '8177', '129', '1936']

Eliminate rare words

In [53]:

from collections import Counter

if 'text' in bbc.columns:
    # Count the frequency of words
    all_words = ' '.join(bbc['text']).split()
    word_counts = Counter(all_words)

    # Filter out words that appear 5 or more times
    common_words = {word for word, count in word_counts.items() if count >= 5}
    print(f"Number of common words: {len(common_words)}")

    # List of removed words (rare words)
    removed_words = {word for word in word_counts.keys() if word not in common_words}
    print(f"Number of words deleted: {len(removed_words)}")

    bbc.loc[:, 'text'] = bbc['text'].apply(lambda x: ' '.join([word for word in x.split() if word in common_words]))

Number of common words: 8753
Number of words deleted: 17124

Remove redundant hyphens (-)

In [54]:
if 'text' in bbc.columns:
    def clean_text(text):
        # Remove hyphens that are not attached to words
        cleaned_text = re.sub(r'(?<=\s)-(?=\s)', '', text)
        cleaned_text = re.sub(r'\s+', ' ', cleaned_text).strip()
        return cleaned_text
    
    # Apply the function to the 'text' column
    bbc.loc[:, 'text'] = bbc['text'].apply(clean_text)
print(bbc)

                                                   text          topic
0     dallaglio man end controversy lawrence dallagl...          sport
1     best person legal job best person job appoint ...       politics
2     viewers able shape tv imagine edit titanic wat...           tech
3     fox attack blair tory lie tony blair lie take ...       politics
4     microsoft debut security tool microsoft releas...           tech
...                                                 ...            ...
2220  michael film signal retirement singer george m...  entertainment
2221  ray charles studio museum museum dedicate care...  entertainment
2222  chancellor rally labour voters gordon brown is...       politics
2223  oscar nominees gear leonardo dicaprio jamie fo...  entertainment
2224  california set fin spyware makers computer pro...           tech

[2225 rows x 2 columns]

 Inspects, and removes duplicate rows from the bbc DataFrame

In [55]:
# Find duplicate rows
duplicate_rows = bbc[bbc.duplicated(subset=['text'], keep=False)]

# Print duplicate datas
grouped_duplicates = duplicate_rows.sort_values(by=['text']).groupby('text')
for idx, (group, rows) in enumerate(grouped_duplicates):
    if idx >= 5:
        break
    print(f"Duplicate group: {group}")
    print(rows)

# Check total duplicated rows 
print("Duplicate data:", bbc.duplicated().sum())

# Start cleaning the data by removing duplicate rows
bbc = bbc.drop_duplicates()

bbc

Duplicate group: 2d metal slug offer retro fun like drill sergeant past metal slug today gamers slick visuals fancy 2d consider retro release years ago frantic shooter end year yes include halo simply choose 2d level video game blast encounter toughest game likely play enemies live pile pressure players battle soldier zombies giant alien mention huge boss guard level gameplay pepper moments genius fan robotic note title refer instead vast array vehicles offer game stuff bizarre hardware tank jet offer iraq justice joy thank ultra control tough crack addictive mere metal slug cheap slice fry man say course ignore lack do visual modern time blockbuster title offer fresh paint favour real innovation metal slug fresh air era xbox gate eye
                                                   text topic
1325  2d metal slug offer retro fun like drill serge...  tech
1314  2d metal slug offer retro fun like drill serge...  tech
Duplicate group: apple attack source row civil liberties group electronic frontier foundation eff join legal fight online journalists apple apple want reporters reveal source use stories leak information forthcoming products include mac mini eff represent reporters ask california superior court stop apple pursue source argue journalists protect american constitution eff say case threaten basic freedoms press apple particularly keen source information unreleased product ask journalists e-mail providers hand communications relevant confront issue reporter privilege apple go journalist isps e-mail say eff lawyer kurt undermine fundamental amendment right protect reporters court let apple away expose gain reporters potential confidential source deter provide information media public lose vital independent news analysis commentary say case begin december apple ask local californian court journalists reveal source article publish websites apple send request information internet service provider publisher jason look far corporations prevent information publish case examine online journalists privilege protections write newspapers magazines eff gain powerful ally legal battle apple include professor tom dean journalism school university california dan well-known silicon valley journalist apple immediately available comment
                                                   text topic
1380  apple attack source row civil liberties group ...  tech
1200  apple attack source row civil liberties group ...  tech
Duplicate group: apple ipod family expand market apple expand ipod family release generation digital music players latest challenge grow digital music gadget market include ipod mini model hold compare previous company hop dominant place digital music market say gold colour version mini drop version add ipod photo family latest model longer battery life price cut average original ipod take early lead digital music player market thank large storage capacity simple design million portable players sell million apple ipods analysts agree success integration itunes online store give company share legal download music market mike mcguire research director analyst gartner tell bbc news website apple good job seal market competition far create seamless package think idea product design function software impressive say add threat present creative devices real sony ratchet market message advertise say creative upbeat creative zen players ship end year say model like creative zen micro photo summer 5gb memory board digital music players gadget choice young americans accord recent research pew internet american life project adults million people own digital music player sort sales legally download songs rise tenfold accord record industry million track buy online europe months ifpi industry body say popularity portable music players growth analysts say ease use growth music service available net continue drive trend portable music players people start use novel ways combine automatic function net function automatically distribute diy radio show call podcast competition mobile phone operators keen offer stream service powerful sophisticate handsets accord mr mcguire research suggest people like idea build huge libraries music high-capacity storage devices like ipods creative mobiles capacity issue ease portability mobile music mr mcguire say apple ensure keep foot mobile music door recent deal motorola produce version itunes motorola phone
                                                   text topic
210   apple ipod family expand market apple expand i...  tech
1712  apple ipod family expand market apple expand i...  tech
Duplicate group: apple unveil low-cost mac mini apple unveil new low-cost macintosh computer mass bill mac mini chief executive steve job show new machine annual macworld speech san francisco macintosh sell uk describe job important mac apple mr job unveil ipod shuffle new music player use cheaper flash memory hard drive use expensive ipods new computer shift company new territory traditionally firm know design firm mass-market manufacturer mac mini come monitor keyboard mouse second version larger hard drive sell machine available january describe job bring display keyboard mouse attempt win windows pc customers mr job say appeal people think change operate systems people think switch excuse say newest affordable mac new computer subject speculation weeks people surprise announcement analysts say sensible january apple sue website publish say specifications new computer ian harris deputy editor uk magazine mac format say machine appeal consumers purchase ipod want taste mac like see ipod harris add everybody think apple happy remain niche maker luxury computers move market dominate low margin manufacturers like dell bold show apple keen capitalise mass market success ipod mac mini appeal pc users look attractive fuss computer new ipod shuffle come versions offer storage uk second gigabyte storage go sale tuesday music player display play songs shuffle smaller ipod hold songs say mr job mr job tell delegate macworld ipod market share digital music players
                                                  text topic
675  apple unveil low-cost mac mini apple unveil ne...  tech
396  apple unveil low-cost mac mini apple unveil ne...  tech
Duplicate group: ask jeeves join web log market ask jeeves buy bloglines website improve way handle content web journals blog bloglines site hugely popular give users place read search share blog interest ask jeeves say plan change bloglines use million article archive round index web ask jeeves pay bloglines reveal bloglines popular let users build list blog want follow have visit journal site individually make use technology know really simple syndication rss blog adopt let sit know new entries journals acquisition follow similar move search sit google acquire labs makers blogger software msn introduce blog yahoo tweak technology better job handle blog entries jim lanzone vice president search properties ask jeeves say do acquire bloglines just blog publish world say ask jeeves interest help people information look help write universe readers vastly larger universe writers say mr lanzone say acquisition sit ask jeeves service let people customise web experience build personal collection useful link search engines discover information time rss ideal way track monitor sit say help drive information entries blog portals ask jeeves operate instant sweep change bloglines say mr lanzone intent time figure right business model try right away say mr lanzone add ask jeeves help organise database blog entries bloglines hold net index technology able search blogosphere corpus information useful right say mr lanzone rumour acquisition break weblog say get hint ask jeeves
                                                   text topic
1415  ask jeeves join web log market ask jeeves buy ...  tech
1639  ask jeeves join web log market ask jeeves buy ...  tech
Duplicate data: 107

                                                   text          topic
0     dallaglio man end controversy lawrence dallagl...          sport
1     best person legal job best person job appoint ...       politics
2     viewers able shape tv imagine edit titanic wat...           tech
3     fox attack blair tory lie tony blair lie take ...       politics
4     microsoft debut security tool microsoft releas...           tech
...                                                 ...            ...
2219  rapper cent end protege feud rapper cent end p...  entertainment
2220  michael film signal retirement singer george m...  entertainment
2221  ray charles studio museum museum dedicate care...  entertainment
2222  chancellor rally labour voters gordon brown is...       politics
2223  oscar nominees gear leonardo dicaprio jamie fo...  entertainment

[2118 rows x 2 columns]

Save the cleaned dataset to a new CSV file:

In [56]:
bbc.to_csv('bbc_cleaned.csv', index=False)